appdirs>=1.4.3
asn1crypto>=0.22.0
attrs>=17.1.0
Automat>=0.6.0
beautifulsoup4>=4.6.0
bs4>=0.0.1
cffi>=1.10.0
constantly>=15.1.0
cryptography
cssselect==1.0.1
imutils>=0.4.3
lxml
numpy>=1.12.1
olefile
opencv-python==3.4.7.28
packaging
parsel
Pillow>=4.1.1
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL>=17.5.0
pytesseract>=0.1.6
queuelib
scipy==1.1.0
Scrapy>=1.4.0
service-identity
six
Twisted
w3lib
zope.interface
